// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
// @import "variables"; - Default variables included with laravel no longer required

// Bootswatch Variables for your chosen theme
@import "node_modules/bootswatch/superhero/variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootswatch theme main CSS files
@import "node_modules/bootswatch/superhero/bootswatch";

// Font awesome
@import "node_modules/font-awesome/scss/font-awesome";

body {
  padding-bottom: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-buffer {
  margin-top: 20px;
}

.dish {
  img {
    margin: 0 auto;
  }

  .col-md-8 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.table-edit {
  text-align: center;
  width: 150px;
}

.checkout-table {
  img {
    margin: 0 auto;
    width: 100px;
  }

  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

footer {
  background-color: #4e5d6c;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    font-size: 10px;
    margin: 0;
  }
}
